*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rosybrown;
    height: 8vh;
}

.logo{
    font-size: 20px;
    letter-spacing: 4px;
    color: white;
}

.nav-links{
    display: flex;
    width: 30%;
    justify-content: space-around;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.burger{
    display: none;
}

/* Responsive design */

@media screen and (max-width:1024px){
    .nav-links{
        width: 40%;
    }
}

@media screen and (max-width:768px){

    body{
        overflow-x: hidden;
    }

    .nav-links{
        position: absolute;
        right: 0;
        top: 8vh;
        height: 92vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rosybrown;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
        
    }
    
    .burger{
        display: block;
        
        cursor: pointer;
    }

    .line{
        width: 25px;
        height: 3px;
        margin: 4px;
        background-color: rgb(231, 231, 231);
    }

    .nav-active{
        transform: translateX(0);
        
        
    }
}